.header-right {
    background-color: #5a4580;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 44.9%;
    height: 40px;
    align-items: center;
    color: rgb(224, 217, 217);
    padding: 0 4px;
    
}
.header-right__container {
    
}
.header-right__member-list {
    height: 150px;
    position: absolute;
    overflow: auto;
   z-index: 9;
   background-color: aliceblue;
    right: 10px;
    top: 33px;
}

.header-right__container {
    position: relative;
}

.member-list__item {
    margin-bottom: 3px;
    margin-left: 3px;
    color: #000;
}